  .main__calendar {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 48%, rgba(255,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(48%, rgba(246,246,246,1)), color-stop(100%, rgba(255,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 48%, rgba(255,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 48%, rgba(255,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 48%, rgba(255,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 48%, rgba(255,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff0000', GradientType=0 );
    height:900px;
    display: flex;
    justify-content: center;
    align-items:center;
  }

  @-webkit-keyframes rotate-out-2-tr-ccw {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 0;
    }
  }
  @keyframes rotate-out-2-tr-ccw {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 0;
    }
  }


  .calendarPage {
    border: 2px solid dimgrey;
    height: 450px;
    width: 320px;
    border-radius: 0 0 20px 20px;
    text-align: center;

    position: relative;



    .white_flag {
      background-color: white;
      height: 50%;
      width: 100%;
      //animation: rotate-out-2-br-cw 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

      .day {
        display: block;
        color: red;
        font-size: 75px;
        padding-top: 40px;
        padding-bottom: 20px;
      }

      .month {
        display: block;
        color: red;
        font-size: 35px;
      }


    .red_flag {
      background-color: red;
      height: 50%;
      width: 100%;
      border-radius: 0 0 20px 20px;
      //animation: rotate-out-2-br-cw 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .year {
      padding-top: 170px;
      display: block;
      color: white;
      font-size: 25px;
      font-weight: 700;
    }

    .topPage {
      animation: rotate-out-2-tr-ccw 5s infinite cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1

    }
  }
